* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main {
    background-image: url(assest/img/img-home/imagem-principal.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}
